html, body {
	height:100%;
	margin:0;
	padding:0;
}
body {
	width: 100%;
	background: #000001;
	overflow: hidden;
	color: rgba(51,111,139,0.9);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;
}
a{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	/*color: rgba(51,111,139,0.9);*/
	color: #FF7B24;
	text-decoration: none;
}
/*
div.slideroutput{
	float: left;
	left: 200px;
	color: rgba(51,111,139,0.9);
	background: #000;
    display: block;
	text-align: right;
	width: 80px;
	font-size: 18px;
}
div.slider{
	padding: 0px 0px;
	float: left;
	width: 300px;
	background: rgba(51,111,139,0.9);
    display: block;
	font-size: 24px;
}
*/
#form p{
	line-height: 32px;
	font-size: 18px;
	margin:1px 1px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	background: rgba(51,111,139,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 0px;
    border:none;
}
#form input[type="text"], #form textarea{
	background: #000;
	color: rgba(150,150,150,1.0);
	border: none;
	width: 80%;
	line-height: 20px;
	font-size: 18px;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	padding-left: 10px;
}
label .checkboxlabel {
	float: auto;
    padding-top: 15px;
    text-indent: -15px;
	color: rgba(200,200,200,1.0);
	font-size: 18px;
	font-family: 'Lato', sans-serif;
    vertical-align: top;
}
.regular-checkbox {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,1.0);
    border: 1px solid rgba(51,111,139,1.0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: rgba(51,111,139,1.0);
}
.regular-checkbox:checked {
    background-color: rgba(0,0,0,1.0);
    border: 1px solid rgba(51,111,139,1.0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
#label_template{
	display: 'inline-block';
}
.label {
	background: rgba(13,30,38,0.8);
    border-radius: 0px;
	font-family: 'Lato', sans-serif;
	padding: 5px 8px;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	position:absolute;
	min-width: 0px;
	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	-ms-transition:opacity .5s;
	-o-transition:opacity .5s;
	transition:opacity .5s;
	display:inline;
    opacity: .75;
	z-index: 6;
}
.label:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 2px;
	bottom: -24px;
	border: 12px solid;
	border-color: rgba(13,30,38,0.8) transparent transparent transparent;
}
.label span.name {
	display: inline-block;
	width: 100%;
	color: #fff;
	text-shadow:.1em .1em 4px #000;
	-webkit-transition:text-shadow .25s;
	-moz-transition:text-shadow .25s;
	-ms-transition:text-shadow .25s;
	-o-transition:text-shadow .25s;
	transition:text-shadow .25s;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 0px;
}
.label span.name:hover {
	text-shadow:0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
.footnote a{
	color: #ddd;
}
div.spiritvideo1
{
  width: 680px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}
.unstrechedcontent img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
.stretchcontent
{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.stretchcontent img
{
  width: 100%;
  display:block;
  margin:auto;
}
.stretchcontentheight
{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.stretchcontentheight img
{
  height: 100%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.fade-in {
  opacity : 1;
  -moz-transition-property : opacity; 
  -webkit-transition-property : opacity; 
  -o-transition-property : opacity; 
  transition-property : opacity; 
  -moz-transition-duration : 1s; 
  -webkit-transition-duration : 1s; 
  -o-transition-duration : 1s; 
  transition-duration : 1s; 
}
.fade-out {
  opacity : 0;
      -moz-transition-property : opacity; 
      -webkit-transition-property : opacity; 
      -o-transition-property : opacity; 
      transition-property : opacity; 
      -moz-transition-duration : 0.4s; 
      -webkit-transition-duration : 0.4s; 
      -o-transition-duration : 0.4s; 
      transition-duration : 0.4s;
}
div.pathfindervideo1
{
  width: 680px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
}
.backgroundtarget
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #000;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/moku_unit1_start.jpg);
}
.curiositybackgroundtarget
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #000;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/moku_unit2_start.jpg);
}
.contenttarget
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #000;
  width: 100%;
  height: 100%;
  display:block;
  z-index: 0;
}
.imagecontenttarget
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	text-align: center;
	padding: 15px 15px 15px 15px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 640px;
	height: 380px;
	top:50%;
    left:50%;
    margin:-240px 0 0 -335px;
	z-index: 1;
}
.videocontenttarget
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	text-align: center;
	padding: 15px 15px 15px 15px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	/*top:50%;
    left:50%;
    margin:-240px 0 0 -335px;*/
	z-index: 4;
}
.videointrocontenttarget
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	text-align: center;
	padding: 15px 15px 15px 15px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 640px;
	height: 360px;
	top:50%;
    left:50%;
    margin:-240px 0 0 -335px;
	z-index: 1;
}
.helppopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 30px 15px 30px;
	background: rgba(42,51,24,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 5px;
    border:none;
	width: 600px;
	height: 540px;
	top:50%;
    left:50%;
    margin:-270px 0 0 -315px;
	z-index: 7;
}
.rtgpopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 30px 15px 30px;
	background: rgba(13,30,38,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 0px;
    border:none;
	width: 690px;
	height: 320px;
	bottom:200px;
    left:50%;
    margin:-170px 0 0 -370px;
	z-index: 7;
}
.aboutpopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 40px 15px 40px;
	background: rgba(42,51,24,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 5px;
    border:none;
	width: 340px;
	height: 460px;
	top:50%;
    left:50%;
    margin:-230px 0 0 -185px;
	z-index: 7;
}
.roverdetailpanel {
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	background: rgba(13,30,38,.95);
	color: rgba(200,200,200,1.0);
    padding:10px;
	top:20px;
    left:40px;
	z-index: 7;
}
.roverdetailpanel a{
  font-size:14px;
}
.baddatespopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 30px 40px 15px 40px;
	background: rgba(13,30,38,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 5px;
    border:none;
	width: 340px;
	height: 140px;
	top:50%;
    left:50%;
    margin:-70px 0 0 -185px;
	z-index: 7;
}
.browserpopup
{
	position: absolute;
	opacity: 0.0;
	pointer-events:none;
	text-align: center;
	padding: 15px 40px 15px 40px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 420px;
	height: 400px;
	top:70px;
    left:70px;
	z-index: 2;
}
.threedhelppopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 40px 15px 40px;
	background: rgba(13,30,38,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 0px;
    border:none;
	width: 440px;
	height: 440px;
	bottom: 210px;
    left: 60px;
	z-index: 7;
}
.launchhelppopup
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 40px 15px 40px;
	background: rgba(13,30,38,.95);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
    border-radius: 0px;
    border:none;
	width: 680px;
	height: 440px;
	bottom: 210px;
    left: 60px;
	z-index: 7;
}
.selectitemdiv
{
  	position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 15px 15px 15px 15px;
	background: rgba(13,30,38,0.7);
	color: rgba(200,200,200,1.0);
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 0px;
    border:none;
	width: 940px;
	height: 450px;
	top:40%;
    left:50%;
    margin:-190px 0 0 -485px;
	z-index: 1;
}
.selectitemdiv td
{
	color: rgba(200,200,200,1.0);
}
div .selectitemdetaildiv
{
	float:left;
	padding: 5px 5px 5px 5px;
	margin: 5px 10px 5px 20px;
	color: rgba(200,200,200,1.0);
	text-align: left;
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 20px;
	font-size: 18px;
	width: 270px;
	height: 360px;
	z-index: 6;
    /*border:5px solid rgba(32,124,202,1.0);*/
    outline:4px solid rgba(5,157,160,0.0);
    background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #199da0 0%, #207cca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#199da0), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#199da0 0%,#207cca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#199da0 0%,#207cca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#199da0 0%,#207cca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#199da0 0%,#207cca 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 );  IE6-9 */
}
div .selectitemdetaildiv:hover{
    outline:4px solid rgba(200,200,200,1.0);
}
.selectitemdetaildiv td
{
	font-family: 'Lato', sans-serif;
	line-height: 20px;
	font-size: 18px;
}
.capcommessagediv
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 10px 10px 10px 10px;
	background: rgba(13,30,38,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 350px;
	height: 55px;
	top:15px;
    right:120px;
	z-index: 2;
}
.capcommessagereddiv
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 10px 10px 10px 10px;
	background: rgba(128,74,74,0.2);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	font-weight:300;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 320px;
	height: 60px;
	top:15px;
    right:120px;
	z-index: 2;
}
.progressdiv
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 10px 10px 10px 10px;
	background: rgba(13,30,38,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	font-weight:300;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 350px;
	height: 55px;
	top:5%;
    left:40%;
	z-index: 6;
}
.resultsdiv
{
  position: absolute;
	opacity: 0.0;
	pointer-events:none;
	padding: 10px 10px 10px 10px;
	background: rgba(13,30,38,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	font-weight:300;
	line-height: 18px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 350px;
	height: 170px;
	top:25%;
    left:50%;
    margin:-85px 0 0 -190px;
    
	z-index: 6;
}
.rerunanalysisdiv
{
    position: absolute;
	padding: 10px 10px 10px 10px;
	background: rgba(13,30,38,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 350px;
	height: 72px;
	bottom:-60%;
    right:0%;
	z-index: 6;
}
div .roundedbluebutton{
    display:inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	margin:2px 4px;
	padding:3px 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:plain;
	background: rgba(51,111,139,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border:2px solid rgba(76,173,197,0.0);
}
div .roundedbluebutton:hover{
	background: rgba(51,111,139,0.5);
}
div .roundedredbutton{
    display:inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	margin:5px 5px;
	padding:3px 20px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:plain;
	background: rgba(128,74,74,0.5);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border:none;
}
div .roundedredbutton:hover{
	background: rgba(128,74,74,0.3);
}
.playbutton{
    display:inline-block !important;
	text-align: center !important;
	vertical-align: middle !important;
	line-height: 10px !important;
	font-size: 10px !important;
	margin:2px 2px 4px 2px;
	padding:2px 2px 2px 2px;
	text-transform: uppercase !important;
	font-family: 'Lato', sans-serif !important;
	color: rgba(200,200,2050,1.0) !important;
	font-weight:300 !important;
	background: rgba(51,111,139,1.0) !important;
    border-radius: 0px !important;
    border:4px solid rgba(200,200,200,1.0) !important;
}
.playbutton:hover{
	background: rgba(51,111,139,.5) !important;
}
.modalmask {
    position: absolute;
	opacity: 0.0;
	pointer-events:none;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 0px;
    margin: 0px;
    background-image: url(../images/modalBG.png);
    overflow: hidden;
	z-index: 5;
}
.badgecontenttarget
{
  	position: absolute;
	text-align: center;
	padding: 15px 15px 15px 15px;
	background: rgba(13,30,38,.8);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	border-radius: 5px;
	border:none;
	width: 640px;
	height: 440px;
	top:50%;
	left:50%;
	margin:-220px 0 0 -335px;
}
.loadercontenttarget
{
  	position: absolute;
  	display:inline;
	text-align: left;
	padding: 15px 15px 15px 15px;
	background: rgba(0.0.0,.8);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
	border-radius: 5px;
	border:none;
	width: 80%;
	top:240px;
	left:160px;
}
/* top control area */
.topbar{
	position: absolute;
    display:inline;
	color: rgba(51,111,139,0.9);
	margin:0px 0px;
	text-transform: uppercase;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 45px;
}
.topbarleft{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	width: 10%;
	height: 100%;
	float: left;
}
.topbarmiddle{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	height: 100%;
	width: 80%;
	float: left;
	z-index: 4;
}
.topbarright{
	position:relative;
    display:block;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	right: 0px;
	width: 10%;
	height: 100%;
	float: right;
}
.page1audio1 {
	position:relative;
	top: 0px;	
	left: 5px;
	top: 5px;
}
.play
{
	width:30px;
	height:30px;
	background-image: url(../images/play.png);
}
.pause
{
	width:30px;
	height:30px;
	background-image: url(../images/pause.png);
}
.footnote{
	position:relative;
	float: right;
    display: inline;
	width: 38px;
	font-size: 18px;
}
.topbar{
	position: absolute;
    display:inline;
	color: rgba(51,111,139,0.9);
	margin:0px 0px;
	text-transform: uppercase;
	z-index: 3;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 45px;
}
.topbarleft{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	width: 10%;
	height: 100%;
	float: left;
}
.topbarmiddle{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	height: 100%;
	width: 80%;
	float: left;
	z-index: 4;
}
.topbarright{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	right: 0px;
	width: 10%;
	height: 100%;
	float: right;
}
.bottombar{
	position: absolute;
    display:inline;
	color: rgba(51,111,139,0.9);
	margin:0px 0px;
	text-transform: uppercase;
	z-index: 3;
	bottom: 0px;
	left: 0px;
	width: 100%;
    height: 60px;
}
.bottombarleft{
	position:relative;
    display:inline;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	width: 20%;
	height: 100%;
	float: left;
}
.bottombarmiddle{
	position:relative;
    display:inline;
  	text-align: center;
	line-height: 40px;
	font-size: 11px;
	top: 0px;
	height: 100%;
	width: 60%;
	float: left;
	z-index: 4;
}
.bottombarright{
	position:relative;
    display:inline;
    bottom:0;
	width: 20%;
	height: 100%;
	float: right;
}
div .scrollarea { 
	z-index: 3;
	position:absolute; 
	width:90%; 
    height:72px; 
    bottom:0;
    left:0;
	border-left:1px solid;
	border-right:1px solid;
	overflow:auto; 
	color: rgba(51,111,139,0.9);
	background-image: url(../images/timeline.png);
	background-repeat: repeat-x;
}
div .scrollarea ul {
    list-style:none; 
    margin:12px 0 0; 
    padding:0;
    white-space:nowrap;
}
div .scrollarea ul li {
    display:inline;
    white-space:nowrap;
    vertical-align:top;
    padding:0 12px 0;
}
div .scrollarea ul li img {
	color: rgba(51,111,139,0.9);
	border: 1px solid;
}
div .closebutton{
    display:inline;
    float:right;
    top:10px;
    right:10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	background: rgba(51,111,139,0.8);
	color: rgba(200,200,200,0.8);
	width: 1em; height: 1em; 
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border:none;
}
div .closebutton p{
    margin-top: 0em;
    margin-left: .15em;
}
div .closebutton:hover{
	background: rgba(132,58,58,0.8);
}
div .menubutton{
    display:inline;
    float:right;
    top:10px;
    right:10px;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	margin:0px 0px;
	padding:5px 15px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	background: rgba(135,153,72,.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border:none;
}
div .menubutton:hover{
	background: rgba(135,153,72,1.0);
}
.headerpanel{
	position: relative;
	opacity: 0.0;
	pointer-events:none;
    display:inline;
    vertical-align:middle;
	text-align: left;
	padding: 5px 5px 5px 20px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	line-height: 17px;
	font-size: 17px;
    border-radius: 5px;
    border:none;
    top:10px;
    left:10px;
	width: 270px;
	height: 20px;
	float: left;
}
.subtitlepanel{
	position: absolute;
	opacity: 0.0;
	pointer-events:none;
    display:block;
	padding: 3px 1px 1px 12px;
	background: rgba(90,102,69,0.8);
	color: rgba(200,200,200,1.0);
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size:700;
	line-height: 30px;
	font-size: 22px;
    border-radius: 5px;
    bottom:60px;
    left:100px;
	width: 250px;
	height: 30px;
}
.subtitlepanelb{
	position: absolute;
	opacity: 0.0;
	pointer-events:none;
    display:block;
	padding: 0px 1px 1px 12px;
	background: rgba(55,57,35,0.8);
	color: rgba(200,200,200,1.0);
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 12px;
    border-radius: 5px;
    bottom:36px;
    left:120px;
	width: 210px;
	height: 20px;
}
.chyronwrapper{
	position: absolute;
	opacity: 1.0;
	background: rgba(42,51,24,0.0);
    bottom:-36px;
    left:0px;
	width: 100%;
	height: 28px;
}
.chyron{
	opacity: 1.0;
	padding: 3px 1px 1px 1px;
	background: rgba(42,51,24,0.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-align:center;
	align:center;
	margin: 0 auto;
	font-size: 18px;
    border-radius: 5px;
	width: 250px;
	height: 28px;
}
.menupanel{
	position: absolute;
	opacity: 0.0;
	pointer-events:none;
    display:block;
    vertical-align:middle;
	text-align: center;
	line-height: 40px;
	font-size: 11px;
	background: rgba(42,51,24,.8);
    border-radius: 10px;
    border:none;
	top: 60px;
	right: 10px;
	width: 210px;
	height: 227px;
	float: right;
}
.menupanel:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 10%;
	top: -24px;
	border: 12px solid;
	border-color: transparent transparent rgba(42,51,24,.8) transparent;
}
.startmenupanel{
	position: absolute;
	opacity: 0.0;
	pointer-events:none;
	text-align: center;
	padding: 15px 40px 15px 40px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 420px;
	height: 400px;
	top:70px;
    left:70px;
	z-index: 2;
}
div .textstyle1{
	text-align: left;
	color: rgba(156,170,184,1.0);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 22px;
	font-size: 18px;
}
div .textstyle2{
	text-align: center;
	color: rgba(156,170,184,1.0);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: none;
	line-height: 20px;
	font-size: 16px;
}
div .greensquarediv{
	text-align: left;
	padding: 25px 25px 25px 25px;
	background: rgba(31,38,18,.7);
	color: rgba(156,170,184,1.0);
    border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 22px;
	font-size: 18px;
}
div .beginbutton{
    display: relative;
    float: center;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	margin: 10px 10px;
	padding: 8px 15px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background: rgba(135,153,72,.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
}
div .beginbutton:hover{
	background: rgba(135,153,72,1.0);
}
div .menupanelbutton{
    display: relative;
    float: center;
	text-align: center;
	line-height: 20px;
	width: 90%;
	font-size: 16px;
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background: rgba(88,107,54,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
}
div .menupanelbutton:hover{
	background: rgba(135,153,72,0.8);
}
div .nextbutton{
    display: absolute;
    float: right;
    bottom: 0px;
    right: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	padding:5px 15px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	line-height: 20px;
	font-size: 16px;
	background: rgba(135,153,72,.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
}
div .nextbutton:hover{
	background: rgba(135,153,72,1.0);
}
div .nextbuttonwrapper { 
	z-index: 3;
	position:absolute; 
	width:50%; 
	right:10px;
	bottom:10px;
}
div .threedhelpbutton{
    display: absolute;
    float: left;
    bottom: 0px;
    left: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	padding:5px 15px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background: rgba(135,153,72,.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
}
div .threedhelpbutton:hover{
	background: rgba(135,153,72,1.0);
}
div .replaybutton{
    display: absolute;
    float: left;
    bottom: 0px;
    left: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	padding:5px 15px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background: rgba(135,153,72,0.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
}
div .replaybutton:hover{
	background: rgba(135,153,72,1.0);
}
div .helpbuttonwrapper { 
	z-index: 3;
	position:absolute; 
	width:50%; 
	left:10px;
	bottom:10px;
}
div .replaybuttonwrapper { 
	z-index: 3;
	position:absolute; 
	width:50%; 
	left:100px;
	bottom:10px;
}
div .playbuttonwrapper { 
	position:absolute; 
	right:100px;
    bottom: 0px;
	text-align: center;
	padding:2px 2px 1px 2px;
	margin:0px 0px 2px 0px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background: rgba(135,153,72,.8);
	color: rgba(200,200,200,1.0);
    border-radius: 5px;
    border: none;
	z-index: 3;
}
div .playbuttonwrapper:hover { 
	background: rgba(135,153,72,1.0);
}
div .threedcontrols { 
	display: inline-block;
	opacity:0;
	pointer-events:none;
	background: rgba(13,30,38,0.0);
	vertical-align: bottom;
	z-index: 3;
	padding:0px;
	width: 90%;
	height: 70%;
}
.launchcontrols { 
	position: absolute;
	display: inline;
	opacity:0;
	pointer-events:none;
	color: rgba(150,150,150,1.0);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 16px;
	vertical-align: top;
	z-index: 4;
	width: 90%;
	height: 90px;
	bottom:9%;
    left:5%;
    padding:10px;
}
.launchdiv
{ 
	opacity:0;
	pointer-events:none;
	padding:5px;
	margin-right:5px;
	background: rgba(13,30,38,0.5);
	display: inline-block;
	font-size: 14px;
	height: 100%;
    float:left;
	z-index: 5;
}
.launchcommitdiv
{ 
	opacity:0;
	pointer-events:none;
	padding:5px;
	margin-right:5px;
	background: rgba(13,30,38,0.5);
	display: inline-block;
	font-size: 14px;
	height: 100%;
    float:left;
	z-index: 5;
}
.datediv
{ 
	padding:5px;
	margin-right:5px;
	background: rgba(13,30,38,0.5);
	display: inline-block;
	font-size: 14px;
	height: 100%;
    float:left;
	z-index: 5;
}
.rovercontrols { 
	position: absolute;
	display: inline-block;
	opacity:0;
	pointer-events:none;
	background: rgba(13,30,38,0.5);
	color: rgba(150,150,150,1.0);
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 18px;
	font-size: 16px;
	vertical-align: top;
	z-index: 4;
	width: 90%;
	height: 90px;
	bottom:9%;
    left:5%;
    padding:10px;
}
.roverdiv
{ 
	position:absolute;
	opacity:0;
	pointer-events:none;
	display: inline-block;
	font-size: 14px;
	height: 75px;
	top:5%;
    right:2%;
	z-index: 5;
}
.instrumentsdiv
{ 
	position:absolute;
	display: inline-block;
	font-size: 14px;
	height: 75px;
	top:5%;
    left:2%;
	z-index: 5;
}
.energybar
{ 
	padding:0px 0px 0px 0px;
	margin:2px 0px 0px 0px;
	display: inline-block;
	/*background: rgba(51,111,139,1.0);*/
	border: 2px solid rgba(13,30,38,1.0);
	outline: 2px solid #207cca;
	height: 45px;
	width: 140px;
	align:bottom;
	background: -moz-linear-gradient(right,  #1e5799 0%, #199da0 0%, #207cca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, right top, left top, color-stop(0%,#1e5799), color-stop(0%,#199da0), color-stop(100%,#207cca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(right,  #1e5799 0%,#199da0 0%,#207cca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right,  #1e5799 0%,#199da0 0%,#207cca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right,  #1e5799 0%,#199da0 0%,#207cca 100%); /* IE10+ */
	background: linear-gradient(to left,  #1e5799 0%,#199da0 0%,#207cca 100%); /* W3C */
}
.energylevel
{ 
	float:right;
	height: 100%;
	background: rgba(13,30,38,1.0);
}
.plaintext {
	background: rgba(18,40,51,1.0);
	color: rgba(150,150,150,1.0);
    border-radius: 0px;
    border: 0px solid rgba(51,111,139,0.0);
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
	margin: 2px 2px 4px 2px;
	width: 60px;
}
.datepicker {
	background: rgba(18,40,51,1.0);
	color: rgba(150,150,150,1.0);
    border-radius: 0px;
    border: 0px solid rgba(51,111,139,0.0);
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	vertical-align: center;
	padding: 10px;
	margin: 2px 2px 4px 2px;
	width: 110px;
}
.inputwrapper { 
	display: inline-block;
	padding-left:10px;
	padding-right:10px;
	text-align: center;
	width: 130px;
	height: 20%;
}
div .squarebluebutton{
    display:inline-block;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	margin:0px 10px;
	padding:5px 10px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	background: rgba(51,111,139,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 0px;
    border:none;
}
div .squarebluebutton:hover{
	background: rgba(51,111,139,0.5);
}
div .squarebigbluebutton{
    display:inline-block;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	line-height: 20px;
	font-size: 20px;
	margin:0px 10px;
	padding:5px 30px;
	text-transform: uppercase;
	background: rgba(51,111,139,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 0px;
    border:none;
}
div .squarebigbluebutton:hover{
	background: rgba(51,111,139,0.5);
}
div .squarelittlebluebutton{
    display:inline-block;
	text-align: top;
	line-height: 0px;
	font-size: 16px;
	margin:2px 0px 0px 0px;
	padding:0px 2px 2px 2px;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	background: rgba(51,111,139,1.0);
	color: rgba(200,200,200,1.0);
    border-radius: 0px;
    width:15px;
    height:15px;
    border:none;
}
div .squarelittlebluebutton:hover{
	background: rgba(51,111,139,0.5);
}
div .speedSlider {
	font-size: 12px;
	width: 90%;
	height: 12px;
	bottom:0px;
	right:0px;
	background: rgba(51,111,139,0.9);
	background-color: rgba(51,111,139,0.9);
	color: rgba(51,111,139,0.9);
	border-left: 2px solid rgba(0,0,0,0.0);
	border-right: 2px solid rgba(0,0,0,0.0);
	border-top: 1px solid rgba(0,0,0,0.0);
	border-bottom: 2px solid rgba(0,0,0,0.0);
    border-radius: 0px;
}
#speedSlider .ui-widget-header { 
	background: rgba(51,111,139,0.9); 
}
#speedSlider .ui-state-default { 
	border-left: 3px solid rgba(18,40,51,1.0);
	border-right: 3px solid rgba(18,40,51,1.0);
	border-top: 3px solid rgba(18,40,51,1.0);
	border-bottom: 3px solid rgba(18,40,51,1.0);  
	background: rgba(200,200,200,0.9); 
	height: 14px;
	width: 10px;
	border-radius: 0px;
}
#loadtext{
	position: fixed;
	opacity: 0.0;
	text-align: center;
	padding: 15px 40px 15px 40px;
	background: rgba(31,38,18,.7);
	color: rgba(200,200,200,1.0);
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 22px;
	font-size: 18px;
    border-radius: 5px;
    border:none;
	width: 420px;
	height: 30px;
	top:20%;
    left:50%;
    margin:-50px 0 0 -250px;
	z-index: 4;
}
::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(151,111,139,0.9); 
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(151,111,139,0.9); 
    background: rgba(51,111,139,0.9);
}